<h1>Change Detection Demo</h1>

<div>Counter = {{counter}}</div>
<div>
  <button (click)="increment()">Increment</button>
  <button (click)="startAutoIncrement()">Auto Increment</button>
  <button (click)="stopAutoIncrement()">Stop Increment</button>
</div>

<with-async [counter$]="counter$"></with-async>
<with-subscribe [counter$]="counter$"></with-subscribe>
<with-subscribe-onpush [counter$]="counter$"></with-subscribe-onpush>
<with-async-sideeffect [counter$]="counter$"></with-async-sideeffect>
